doctype html 
html(lang ="ko")
    head 
        title=pageTitle
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href ="/") Home
                    li
                       a(href ="/add") Add

        main
            block content