form(method="POST", URL="/")
  input(name="year", placeholder="Filter By Year!", type="text")
  input(name="rating", placeholder="Filter By Rating!", type="text")
  input(type="submit", value="Search")
  //- table
  //-   tr
  //-     td
  //-       input(name="year", placeholder="Filter By Year", type="number")
  //-     td
  //-       input(name="rating", placeholder="Filter By Rating", type="text")
  //-     td
  //-       input(type="submit", value="Search")
    
    
    