form(method="POST")
  table
    tr
      td
        input(name="title", placeholder="Title", required, type="text", maxlength=80)
      td
        input(name="description", placeholder="Description", required, type="text", minlength=20)
      td
        input(type="submit", value="Upload Video")
    
    
    